<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youvoice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <application
        android:name=".Controller"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <!-- <activity android:name=".MainActivity"></activity> -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserRegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserLoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserUpdateProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserMenuActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeMenuActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeUpdateProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeLoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserShowPlacesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserShowPlaceMenuActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".UserShowPlaceEvaluationsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserShowPlaceSuggestionsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserAddPlaceEvaluationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserAddPlaceSuggestionActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".EmployeeShowPlaceMenuActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeShowPlacesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeShowPlaceEvaluationsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeShowPlaceSuggestionsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserAddPlaceCompliantActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".UserShowPlaceCompliantActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserShowPlaceCompliantsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeShowPlaceCompliantsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeShowPlaceCompliantActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EmployeeReplyCompliantActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".UserShowPlaceMyEvaluationsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserShowPlaceMySuggestionsActivity"
            android:label="@string/app_name" />
    </application>

</manifest>